main{
  max-width: 1400px;
  padding: 20px;
  margin: 2rem auto;
  box-shadow: 0px 2px 4px 3px rgba(0, 128, 0, 0.469);
  border-radius: 20px;

  
}
.section1{
  margin-top: 3rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section1 img{
  width: 100%;
}
.section1 .two{
  max-width: 400px;
  width: 50%;
}
.section1 .one{
  max-width: 700px;
}
.section1 h1{
  background-color: #009207;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 8px;
  padding: 1.5rem 0 0.8rem;
  margin-bottom: 3rem;
}
.section2{
  border-top: 1px solid #00000052;
  margin-top: 2rem;
  padding: 1rem;
}
.section2 h2{ 
  margin-top: 4rem;
  margin-bottom: 2rem;

 }
 @media(max-width:1400px){
main{
  margin: 1rem;
}
 }
@media(max-width:900px){
  .section1 .two{
    display: none;
  }
  .section1 .one{
    width: 100%;
    text-align: center;
  }
  main{
    padding: 0.2rem;
  }
}